.gitstats_box{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 15vh;
    left: 12vw;
    max-width: 100%;
    min-width: 100px;
    width: auto;
}
.gitstats_fork, .gitstats_star{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}
.gitstats_fork{
    background: rgb(238, 113, 3);
    color: white;
    border-radius: 40px 0px 0px 40px;
}
.gitstats_star{
    color: rgb(238, 113, 3);
    background: white;
    border-radius: 0px 40px 40px 0px;
}
@media (max-width: 900px) {
    .gitstats_box {
      display: none;
    }
  }