.banner {
  background: linear-gradient(135deg, #1e0b5e 0%, #420212 50%, #4e0649 100%);
  /* min-height: 80vh; */
  width: 100%;
  font-family: Arial, sans-serif;
  padding-top: 18vh;
  padding-bottom: 8vh;
}

.banner_container {
  width: 75%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10rem;
  z-index: 10;
}

.left_container {
  width: 100%;
}

.what_is {
  font-weight: bolder;
  color: rgb(249, 164, 7);
  text-decoration: underline;
  text-underline-offset: 8px;
  padding-bottom: 24px;
  font-size: 24px;
  letter-spacing: 6px;
}

.what_is_ans {
  /* color: #195cab; */
  color: white;
  font-size: x-large;
  line-height: 1.8;
}

.what_is_ans p {
  margin-bottom: 24px;
}

.right_container {
  width: 100%;
}

.right_container img {
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: center;
  object-fit: contain;
}

.social_buttons{
  padding-top: 100px;
}

@media (max-width: 900px) {
  .banner {
    font-family: "poppins";
    padding-top: 14vh;
    padding-bottom: 6vh;
  }
  .what_is {
    font-size: 20px;
    letter-spacing: 2px;
    text-align: center;
  }

  .what_is_ans {
    /* color: #195cab; */
    color: white;
    font-size: large;
    line-height: 1.8;
    text-align: center;
  }

  .banner_container {
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    padding: 16px;
  }

  .right_container img {
    width: 100%;
    text-align: center;
    height: 100%;
  }
}
