.component_page {
  width: 100%;
  background: linear-gradient(90deg, #2a003c 0%, #010142 100%);
  height: max-content;
  padding-top: 18vh;
  padding-bottom: 6vh;
  color: white;
  font-family: Arial, sans-serif;
}

.component_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 6vw;
  width: 75%;
  margin: 0 auto;
}

.component_card {
  background-color: #05052f;
  position: relative;
  width: 360px;
  height: 420px;
  border-radius: 20px;
  padding: 12px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  transition: 2s smooth ease-in-out;
  box-shadow: 4px 5px 10px 0px rgb(136, 149, 224);
}

.new_ribbon {
  position: absolute;
  top: -20px;
  right: -18px;
  background-color: rgb(6, 41, 242);
  color: white;
  padding: 12px;
  font-weight: 700;
  border-radius: 12px;
}

.in_dev_ribbon {
  position: absolute;
  top: -18px;
  right: -14px;
  background-color: rgb(218, 99, 8);
  color: white;
  padding: 12px;
  font-weight: 700;
  border-radius: 12px;
}

.container_card_img {
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
  height: 50%;
  border: 2px solid snow;
  object-fit: cover;
}

.component_name {
  font-size: 24px;
  font-weight: bolder;
  padding-top: 24px;
  transition: 2s smooth;
  text-align: center;
}

.component_name:hover {
  color: rgb(235, 204, 7);
}

.component_brief {
  text-align: center;
  padding-top: 16px;
  color: #0e6ddb;
  font-weight: 600;
}
.component_card:hover {
  /* font-size: 25px; */
  transform: scale(105%);
  background-color: #1a202c;
  box-shadow: 4px 5px 10px 0px rgb(36, 66, 214);
}

.in_dev_component {
  cursor: not-allowed;
}
@media (max-width: 900px) {
  .component_page {
    padding-top: 14vh;
  }

  .component_card {
    margin-bottom: 32px;
    box-shadow: 2px 3px 10px 0px rgb(136, 149, 224);
  }
  .new_ribbon {
    position: absolute;
    top: -12px;
    right: -12px;
    background-color: rgb(6, 41, 242);
    color: white;
    padding: 8px;
    font-weight: 400;
    border-radius: 12px;
  }

  .in_dev_ribbon {
    position: absolute;
    top: -12px;
    right: -12px;
    background-color: rgb(218, 99, 8);
    color: white;
    padding: 8px;
    font-weight: 400;
    border-radius: 12px;
  }
}
