.component_page {
  width: 100%;
  background: linear-gradient(220deg, #1f002d 0%, #00002d 100%);
  height: max-content;
  padding-top: 18vh;
  padding-bottom: 8vh;
  color: white;
  font-family: Arial, sans-serif;
}

.component_container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 6vw;
  width: 75%;
  margin: 0 auto;
}

.component_card {
  background-color: #030324;
  position: relative;
  width: 360px;
  height: 420px;
  border-radius: 20px;
  padding: 12px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  transition: 10s smooth ease-in-out;
  box-shadow: 4px 5px 6px 0px rgba(141, 5, 239, 0.525);
}

.new_ribbon {
  position: absolute;
  top: -24px;
  right: -20px;
  background-color: rgb(1, 18, 253);
  color: snow;
  padding: 12px;
  font-weight: 600;
  border-radius: 20px;
}

.in_dev_ribbon {
  position: absolute;
  top: -24px;
  right: -20px;
  background-color: rgb(245, 106, 1);
  color: snow;
  padding: 12px;
  font-weight: 600;
  border-radius: 20px;
}

.container_card_img {
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
  height: 45%;
  border: 2px solid snow;
  object-fit: cover;
}

.component_name {
  font-size: 22px;
  font-weight: bolder;
  padding-top: 20px;
  transition: 2s smooth;
  text-align: center;
}

.component_name:hover {
  color: rgb(235, 204, 7);
}

.component_brief {
  text-align: center;
  padding-top: 16px;
  color: #06b4f3;
  font-weight: 600;
}
.component_card:hover {
  /* font-size: 25px; */
  transform: scale(105%);
  background-color: #131a28;
  box-shadow: 4px 5px 10px 0px rgba(5, 42, 226, 0.679);
}

.in_dev_component {
  cursor: not-allowed;
}
@media (max-width: 900px) {
  .component_page {
    padding-top: 16vh;
  }

  .component_card {
    margin-bottom: 54px;
    box-shadow: 2px 3px 10px 0px rgb(136, 149, 224);
  }
  .new_ribbon {
    position: absolute;
    top: -15px;
    right: -15px;
    background-color: rgb(6, 41, 242);
    color: white;
    padding: 10px;
    font-weight: 500;
    border-radius: 20px;
  }

  .in_dev_ribbon {
    position: absolute;
    top: -15px;
    right: -15px;
    background-color: rgb(218, 99, 8);
    color: white;
    padding: 10px;
    font-weight: 500;
    border-radius: 20px;
  }
}
